---
name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"
concurrency: renovate
env:
  LOG_LEVEL: debug
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Validate Renovate JSON
        run: jq type .github/renovate.json
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@c5fdc9f98fdf9e9bb16b5760f7e560256eb79326 # v44.0.2
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.RENOVATE_TOKEN }}
