---
name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0/3 * * *"
concurrency: renovate
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Validate Renovate JSON
        run: jq type .github/renovate.json
      - name: Install cli tools
        run: |
          uv tool install pre-commit
          uv tool install poetry
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.RENOVATE_TOKEN }}
